ProductivityApp/.vs

ProductivityApp/ProductivityApp.Server/bin/
ProductivityApp/ProductivityApp.Server/obj/

ProductivityApp/productivityapp.client/obj

ProductivityApp/ProductivityApp.WindowsForms/bin/
ProductivityApp/ProductivityApp.WindowsForms/obj/

ProductivityApp/ProductivityApp.Core/bin/
ProductivityApp/ProductivityApp.Core/obj/
